body {
    font-family:arial,sans-serif;
    font-size:13px;
    background-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
    background-position: center;
    background-repeat:none;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    display: block;
}

.google-logo img {
    position: relative;
    height: 85px;
    left: 550px;
    top: 150px;
    
}

input {
    position:relative;
    top: 200px;
    left:550px;
    width: 300px;
    border-radius: 15px;
    height: 20px;
}
